<!-- <p>register</p> -->

<div class="flex flex-column">
    <span class="text-lg mb-4 p-1" style="color:rgb(217, 245, 236); background-color:rgb(108, 22, 235);">Registro</span>

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput placeholder="Nombre de usuario">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña">
    </mat-form-field>
    <!-- <button mat-button mat-flat-button color="primary"> -->
    <button mat-fab extended color="primary">
        <mat-icon>save</mat-icon>
        Crear cuenta
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">Ir a Login</a>
    </div>
</div>
